body {
  padding: 15px;
  background: #EFEFEF;
  
}

body * {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
}


h4 {
  padding: 0;
  margin: 20px 0 5px 0;
}


/* Plugin stuff starts here*/

.FancySelect {
  position: relative;
  height: 20px;
  display: inline-block;
}

.FancySelect .InnerWrapper {
  position: absolute;
  background: white;

}

.FancySelect .Open {
  padding: 3px;
  border: solid 1px #AAA;
  -webkit-border-radius: 3px;
  position: relative;
  left: -5px;
  top: -5px;
}

.FancySelect .SelectedItem {
  border: solid 1px #BBB;
  -webkit-border-radius: 3px;
  background: #EEE -webkit-linear-gradient(#FFF,#DDD);
  padding: 4px 6px;
  display: inline-block;
  margin: 0;
}

.FancySelect .SelectedItem a {
  margin-left: 5px;
}

.FancySelect input {
  margin:0;
  padding: 4px;
  width: 220px;
}

.FancySelect ul {
  padding: 0;
  margin: 3px 0 0 0;
}

.FancySelect li {
  list-style-type: none;
  margin: 0;
  padding: 5px;
  border-bottom: solid 1px #DDD;
  color: #777;
  cursor: pointer;
}

.FancySelect li:hover {
  background: blue;
}

.FancySelect li:hover div {
  color: white;
}

.FancySelect li:last-child {
  border-bottom: none;
}

.FancySelect li.no-match {
  display: none;
}

/*Fields*/

.FancySelect .primary {
  font-weight: bold;
  color: black;
}
