body {
  padding: 15px 40px;
  background: #EFEFEF;
}

select {
  display: block;
}

body * {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
}


h4 {
  padding: 0;
  margin: 20px 0 5px 0;
}

.polish {
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 29px;
}


.Rodents li {
  overflow: auto;
  position: relative;
}

.Rodents .primary {
  font-size: 30px;
  position: absolute;
  left: 120px;
}

.Rodents .picture {
  float: left;
}

li[value="chipmunk"] .picture {
  display: block;
  background: green;
  width: 100px;
  height: 100px;
  margin-top: 5px;
  background: top url(chimpunk.png);
  background-size: fill;
  
}


li[value="squirrel"] .picture {
  display: block;
  background: red;
  width: 100px;
  height: 100px;
  margin-top: 5px;
    background: top url(squirrel.png);
}